body{
    background: #ffffff;
   
}

.navbar{
    min-height:33px !important;
    margin-bottom: 0;
    border-radius: 0;
    
    
}

.list-group ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

.list-group li {
    float: left;
}



.progress{
   
    height: 10px !important;
    margin-bottom: 0 !important;
}
#navbar{
    
     width:100% !important;
}

.navbar-collapse {
  
    padding-left: 0px !important;
  
}

.navbar-nav > li > a, .navbar-brand{
    
    padding-top: 6px !important;
    padding-bottom: 0px !important;
    height: 33px;

}
.navbar-default{
  background-color: #1f69b4;
  border-color: #327ecc;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecf0f1;
  background-color: #327ecc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecf0f1;
  background-color: #327ecc;
}
.navbar-default .navbar-toggle {
  border-color: #327ecc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #327ecc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecf0f1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf0f1;
    background-color: #327ecc;
  }
}

.logoContain{
    width: 300px;
    
}

.padded{
    padding-top:10px;
    
}

.logoTxt{
    width: 50%;
    display:block;
    float:left;
    padding-top: 7px;
}
.logoTop{
    float: left;
    display:block;
    width: 24px;

}
.divImg{
    display: block;
    float: left;
    height: 30px;
    width: 25px;
    padding-bottom: 10px;
    padding-top: 3px;
}
.topLog{
    height: 25px;
    margin-bottom: 10px;
   

}